html {
    scroll-snap-type: y mandatory;
}

.app {
    background-color: black;
}

.app__videos {
    position: relative;
    height: 800px;
    overflow: scroll;
    width: 80%;
    max-width: 500px;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.app__videos::-webkit-scrollbar {
    display: none;
}