.videoFooter{
    position : relative;
    bottom: 50px;
    color: white;
    display: flex;
}

.videoFooter__record {
    animation: spinTheRecord infinite 5s linear;
    height: 50px;
}

@keyframes spinTheRecord {
    to {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}