.video {
    background-color: white;
    height: 500px;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.video__player{
    background-color: red;
    object-fit: fill;
    width: 100%;
    height: 100%;
}